# Ambiente virtual
.venv/
venv/
data/**/Plataform*
data/**/Youtube*
**/mongo/**

# Arquivos de dependências
poetry.lock
__pycache__/
*.pyc
*.pyo
*.pyd
.cookies.txt

# Configurações do VSCode
.vscode/

# Dados e arquivos gerados
*.mp3
*.mkv
*.mp4
*.wav
*.webm

*.bak

# Configurações e segredos
.env
.env.*

# Outros
.DS_Store
Thumbs.db 
*.zip